<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text'
               [(ngModel)]='listFilter'/>
      </div>
    </div>
    <div class='row'
         *ngIf='listFilter'>
      <div class='col-md-6'>
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'
             *ngIf='trafficListReaderData.length'>
        <thead>
        <tr>
          <th>RoadwayName</th>
          <th>Distance</th>
          <th>Delay</th>
          <th>Region</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let product of filteredProducts'>
          <td>{{ product.roadwayName | uppercase | convertToSpaces:'-' }}</td>
          <td>{{ product.distance }}</td>
          <td>{{ product.delay}}</td>
          <td>{{ product.regionl}}</td>
          <td>{{ product.description| uppercase | convertToSpaces:'-'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
